/* header */
.navbar {
    position: relative;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* box */
.border-box{
    display: flex;
    width: 30%;
    margin: 5em auto;
    flex-direction: column;
    border: 2px solid #e1e3e5;
    border-radius: 12px;
}
.box {
    display: flex;
    width: 30%;
    margin: 5em auto;
    flex-direction: column;
    border-radius: 12px;
}

.link-border {
    border-right: 1px solid #e1e3e5;
    padding-right: 10px;
    margin-right: 10px;
}

.label-box {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}
.label-box i {
    margin-right: 8px;
}