@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    font-family: Pretendard, 'sans-serif' !important;
}
/* 기본 스타일 */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* 네비게이션 */
.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    transition: color 0.2s ease-in-out;
    margin: 0 15px;
}

.nav-link:hover {
    color: #007bff;
}

.nav-link.active {
    color: #007bff;
    font-weight: bold;
}

.section {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0;
    transition: transform 1s ease-in-out; /* 스크롤 애니메이션 */
    position: relative; /* 각 섹션 내부 요소 배치 */
    z-index: -1;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비율 유지하면서 화면 채우기 */
}

/* 헤더 컨테이너 */
.header-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
}

/* 이미지 섹션 */
.section-image {
    width: 100%;
    height: auto;
}

.headerText {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.headerText.fade-in {
    opacity: 1;
}

.headerText.fade-out {
    opacity: 0;
}

.product-intro {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
    color: white;
    text-align: center;
    margin-top: 10%;
    width: 100%;
}

.product-item {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-item h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.product-item p {
    font-size: 1rem;
    line-height: 1.8;
}
